<!DOCTYPE html>

<div class="textcenter">

<p>Add your new product below</p>
<form action="/" method="post">
  <label for="POST-name"></label>
  <input id="POST-name" type="text" name="product"><br>
  <input class="button" type="submit" value="Create Product">
</form>
</div>